<%- include("partials/header") %>
<%- include("partials/navbars") %> 
    <h1>the random no. is :<%=random %>
    </h1>
    <% if(random%2===0){%>
        <p>
        <h1>the number is even</h1>
        </p>


        <%} else{ %>
            <p>
            <h1>the no. is odd</h1>
            </p>
            <% }%>

                </body>

                </html>